<div class="container">
    <h2>Votre panier</h2>
    <div class="row">
        <img class="col-xs-2 img-responsive" src='../../img/Pizza_4fromages.jpg' width="30%">
        <div class="com-xs-4">
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>