<header>
	<div class="row" style="margin: 25px 0px; height: auto;">
			
			<div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
				<a href="/home">
					<img src="http://ragazzi-pizzeria.de/files/Ragazzi/Ragazzi-Logo-wei%C3%9F-200px.png" alt="logo" style="width: 50%; height: auto;">
				</a>
			</div>
			
			<div class="col-xs-offset-2 col-sm-offset-4 col-md-offset-6 col-lg-offset-6 col-xs-5 col-sm-4 col-md-3 col-lg-3">
				<ul class="list-inline">
					<li class="col-xs-6 col-sm-6"><a href="/shoppingCart">Panier ()</a></li>
					<li class="col-xs-6 col-sm-6"><a href="">Mon compte</a></li>
				</ul>
			</div>

		
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/home">Pizzeria Ragazzi</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li><a href="#">Menus</a></li>
			      <li><a href="#">Entrées</a></li>

			      <li><a href="/pizza/list">Pizzas</a></li>

			      <li><a href="#">Desserts</a></li>

			      <li><a href="#">Boissons</a></li>
			    </ul>
			  </div>
			</nav>

		</div>
	</div>

</header>
