<style>
#myBorder{
background: #33304e;
width: 510px;
height: auto;

}
#myForm{
padding-top: 33px;
}
#labelNewCollab{

padding: 5px 9px;
display: inline-block;
color: #111;
font-family: 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: bold;
letter-spacing: -1px;
line-height: 1;
text-align: center;
background: #e6c304;
}

#buttonCreate{
padding: 8px 95px;
margin-top: 20px;
text-transform: uppercase;
font-weight: bold;
font-family: 'open sans',sans-serif;
background: white;
margin-bottom: 11px;
}

#labelMessage{

margin-bottom: 63px;
margin-top: -30px;

}

#iconCheckOk img{
height: 40px;
float: right;

}

.link{
  font-family: 'open sans',sans-serif;
  font-size: 12px;
  text-decoration: none;
  float: right;
  margin-bottom: 15px;
  margin-right: 39px;
}

.link div button a{
  color: black;
}
</style>


<div ng-controller='UserController as userCtl'>
<div class="well">

			<div id="myBorder"  class="col-lg-offset-4" >
				<span id="labelNewCollab" class="label label-default ">Forgot password</span>
				<div class="link" class="row">
         <div class="col-lg-offset-9 " >
          <button ng-click='userCtl.changePage("login")' class="btn btn-sm btn-info btn-outline-info">Login</button>
         </div>

       </div>

				<div id="myForm">

					<form  accept-charset="UTF-8">

						<div class="row" >
							<div class="col-lg-5 col-lg-offset-4 " >
								<input ng-model='account.email' type="text" name="email" placeholder="Votre email" class="form-control" required="required">
							</div><br/><br/>

                 <div class="col-lg-5 col-lg-offset-4 " >
								<input ng-model='userCtl.forgottenPassword' type="text" name="password" placeholder="Your password will be here :)" class="form-control"
                disabled>
							</div>
						</div>

							<div class="row">
								<div class="col-lg-offset-3" >

									<input ng-click = 'userCtl.getForgottenPassword(account)' id="buttonCreate" class="btn btn-default " type="submit" name="" value="Get password">
                </div>
              </div>

              <!-- <button ng-click='userCtl.getUserConnected()'>get UserConnected</button>
              <span style="background:red">{{userCtl.userConnected.email}}</span> -->
					</form>
				</div>
		</div>
	</div>
</div>
